<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.kosta.ordermadeandroid">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <activity android:name=".Register"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.main.MainActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".activity.request.RequestRegisterActivity"/>
        <activity android:name=".activity.request.RequestApplyActivity"/>
        <activity android:name=".activity.request.RequestMakerDetailActivity"/>
        <activity android:name=".activity.request.RequestConsumerDetailActivity"/>
        <activity android:name=".activity.request.RequestInviteActivity" />
        <activity android:name=".activity.request.RequestJoinActivity" />
        <activity android:name=".activity.request.RequestMyListActivity" />
        <activity android:name=".activity.product.ProductRegisterActivity" />
        <activity android:name=".activity.product.ProductEditDetailActivity" />
        <activity android:name=".activity.product.ProductDetailActivity" />
        <activity android:name=".activity.portfolio.PortfolioRegister2Activity" />
        <activity android:name=".activity.deal.DealConsumerActivity" />
        <!--<activity android:name=".activity.product.ProductSearchActivity"/>-->
        <activity android:name=".activity.portfolio.PortfolioDetailActivity"/>
        <activity android:name=".activity.member.MemberMyPageActivity"></activity>
        <activity android:name=".activity.member.MemberLoginActivity">
        </activity>
        <activity android:name=".activity.member.OkHttpTestActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>-->
        </activity>
        <activity android:name=".activity.member.OkHttpUtilTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


    </application>

</manifest>